body { background-color: #fff; }

body, p, ol, ul, td {
  font-family: palatino, times, serif;
  font-size:   13px;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6
{
  font-family: helvetica, arial, sans-serif;
}

#container{ width: 800px; margin-top: 10px; margin-left: 160px; }

#header{height: 40px; position: relative;}

#session_links{ position: relative; float: right; text-align: right; }
  #session_links a{ font-weight: bold; }

#navi{ position: absolute; bottom: 0px; float: left; }
  #navi ul
  {
    padding-left: 5px; margin: 0px;
    list-style: none;
  }
  #navi li
  {
    display: inline-block; width: 125px;
    font-size: 16px; font-family: helvetica, arial, sans-serif;
    margin-left: 10px; padding: 0px;
  }
    #navi li a
    {
      width: 115px; display: block;
      padding: 7px 5px 3px 5px;
      border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
      border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
      background-color: #C9E235; 
      text-align: center; text-decoration: none;
    }

#content
{
  background-image: url('../images/papmust.gif'); 
  color: #333;
  padding: 20px; 
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #507901; }
a:visited { color: #619012; }
a:hover { color: #77a628; }

div.field, div.actions {
  margin-bottom: 10px;
}

.flash
{
  border: 2px solid #000;
  margin: 10px; padding: 10px;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
