body { background-color: #fff; }

body, p, ol, ul, td {
  font-family: palatino, times, serif;
  font-size:   13px;
}

h1, h2, h3, h4, h5, h6
{
  font-family: helvetica, arial, sans-serif;
}

.left { float: left }
.right { float: right }
.clear { clear: both }

.sidebar ul, ul.rsvp, #footer ul, ul.links, ul.track
{ 
  list-style: none; padding: 0px; 
}

#container{ width: 730px; margin-top: 10px; margin-left: 160px; }

#header{height: 40px; position: relative;}

#session_links{ position: relative; float: right; text-align: right; }
  #session_links a{ font-weight: bold; }

#navi{ position: absolute; bottom: 0px; float: left; }
  #navi ul
  {
    padding-left: 5px; margin: 0px;
    list-style: none;
  }
  #navi li
  {
    display: inline-block; width: 110px;
    font-size: 16px; font-family: helvetica, arial, sans-serif;
    margin-left: 10px; padding: 0px;
  }
    #navi li a
    {
      width: 100px; display: block;
      padding: 7px 5px 3px 5px;
      border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
      border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
      background-color: #C9E235; 
      text-align: center; font-weight: normal;
    }

#content
{
  background-image: url('../images/papmust.gif'); 
  color: #333;
  padding: 30px; min-height: 500px;
}

h1.title{ display: inline; }
.edit { display: inline-block; margin-left: 10px; }

#footer ul
{ 
  display: inline-block; 
  margin-right: 70px; margin-left: 70px; 
}
#rails { float: right; }
  #rails img{ float: right; }
 
.sidebar
{
  float: right;
  width: 200px; margin: 70px 10px 20px 20px;
}
  .sidebar .rank { display: block; margin: auto }
  .sidebar .button_to{ display:block; text-align: center; }

dt { font-weight: bold; }

dd { margin-left: 25px; }
  dd ul { margin: 0px; }

form.button_to { display: inline-block; }

#description { min-height: 150px; }

ul.rsvp, ul.track
{
  display: inline-block; vertical-align: top; 
  margin-right: 10px; width: 180px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #487700; text-decoration: none; font-weight: bold;}
a:visited { color: #598810; }
a:hover { color: #77a628; }

td {padding: 5px;}
td.date { width: 100px; font-size: 16px; }
td.name { width: 150px; font-size: 16px; }
td.label 
{ 
  margin-right: 0; padding-right: 0;
  width: 60px;
}

table.events_table td
{ 
  vertical-align: top;
  padding-top: 0; padding-bottom: 0;
}
table.events_table tr.entry_head td 
{
  padding-bottom: 5px; padding-top: 10px; 
}

div.field, div.actions 
{
  margin-bottom: 5px;
}

div.field_pair { margin-bottom: 5px; }
  div.field_pair div.field { width: 320px; display: inline-block; }

div.instructions
{
  padding: 24px;
  font-size: 16px; font-weight: bold;
}

.links li .field{ display: inline-block; }

select { max-width: 250px; }
input[type=text] { width: 250px; }
input.link_text {width: 200px;}
textarea { width: 573px; height: 150px; }

.flash
{
  border: 2px solid #000;
  margin: 10px; padding: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
