- if @user.send(method).any?
  %ul{:class => "rsvp #{method}"}
    %h3= title
    - for event in @user.send(method)
      %li
        = event_date(event) + ': '
        = link_to(event.name, event_path(event))
