%h1 Revise #{@event.name} Briefing

= render 'form'

%p
  %br/
  = button_to('Remove Event', {id: @event.id, action: :destroy},
    confirm: 'Really discard event info?', method: :delete)
%br/
= link_to "Back", :back
