- content_for :title do
  %title What is the Weekend General?
%h1 The Weekend General

%p
  The Weekend General's job is to coordinate outings for you and your friends.
  All you need is a google account and a source of info on fun things you and
  your friends would be interested in. Start by signing in with google, and tell
  google you want them to let you log in to the Weekend General. Then fill out
  your personal information, and start adding concerts, sporting events, 
  parties, banquets, open mics, festivals, etc. 
%p
  Tell your friends to sign up and do the same, and soon you'll be able to see
  what they're planning and who'll be showing up. Tell the Weekend General all 
  the wheres and whens so none of your friends miss out.
%p
  The Weekend General will send you reminder emails on the day of an event you
  plan to attend, notify you when a friend is going to an event you're 
  considering, and let you know when someone's posted something new.
%p
  The Weekend General will not protect you from strangers finding about your
  plans. It does not show RSVP information without requiring a sign in, but 
  since anybody with a google account can sign in, anybody can see where and
  when your birthday party will be. Exercise caution.
%p
  The Weekend General will not show other users your email address, unless you
  are an officer. Officers can see users' emails and users can
  see officers' emails.
%p
  In fact, if you have questions about the Weekend General,
  = link_to "the officers", officers_users_path
  are probably the right people to ask. If the question is really hard, or you 
  want to see a new feature or see something changed, 
  = link_to "contact the creators", contact_path
  and they'll do their best to answer you.
