- content_for :title do
  %title The Weekend General's home base
%h1 The Weekend General 
%p 
  Welcome to the Weekend General beta. This release contains the minimal set of
  features needed to make a useful social planning app. Please do not share the
  site with anyone you might suspect would be put off from trying future 
  versions from a bad first impression.
%p
  Here's a list of features that need to be added for a first public release.
%ul
  %li 
    %strike Notifications. This will include.
    %ul
      %li 
        %strike
          User tracking. Get notifications when users you are tracking say
          they're attending an event.
      %li 
        %strike New events added
      %li 
        %strike Upcoming events you've expressed interest in.
      %li
        %strike Message broadcasts to all users who've rsvp'd for an event.
  %li Searches
  %li Multiple views and orderings of events, such as a calendar view.
  %li 
    Improved UI, including:
    %ul
      %li Better redirect after signin
      %li 
        Better use of the home page (this page), such as presenting 
        recent activity you've expressed an interest in.
      %li Better look and layout.
  %li 
    Extra admin privileges, including:
    %ul
      %li banning users
      %li 
        configuration options to require admin approval for new users to edit
        or delete        
%p 
  With lots more to come after the initial public release. Check out the 
  = link_to 'upcoming features page', '/roadmap'
  for more information. 

%h1 How can I help?
%p 
  I'm glad you asked. Right now, I'd like it if you tried to use Weekend General
  and let me know of anything you've found that just doesn't work the way you 
  think it should. I'm also very, very happy to take feature requests. If you 
  have ideas about how something Weekend General already does could be done 
  better, I'll also be happy to listen. Send me an email at 
  = mail_to('adam.durandal@gmail.com') +'.'
  I'll be glad you did.
%p
  Apart from just using the app, I could use your help if you have the 
  following skills that you'd like to volunteer:
%ul
  %li 
    %strong Design:
    %p
      I'm not a designer. Weekend General could look a lot nicer, and if you 
      have the gumption to sit with me and work to improve the look and 
      feel of the site, I will love you forever.
    %p
      It's low priority, but I'm also planning on eventually making the site
      skinnable. So if you have a design idea that I don't have the time,
      knowledge, or interest to take a hand in working out with you, you can
      always try it on your own, send it to me, and I will include it as a 
      layout option users can choose.
  %li
    %strong Copy/Editing:
    %p
      If you can substantially improve the writing on here, I won't pass up on
      your help.
  %li
    %strong Coding:
    %p
      Weekend General is a Ruby On Rails app using jQuery for client side 
      scripting. I'm a web programming newbie, and I wrote Weekend General
      mainly to teach myself Rails. If you'd like to contribute, you can
      - git = 'https://github.com/adambaker/weekend-general' #to shorten line
      = link_to('clone the repository on GitHub', git)+'.'
    %p
      If you want to review my code and drop some hints your experience has
      delivered, I will be grateful. If you want to contribute, I may demand
      that you help me understand your code before integrating it. This is not
      because I want to maintain complete control of the product. Weekend 
      General is a learning project, and I don't want to miss an opportunity
      to learn something by accepting someone else's implementation of a feature
      that I don't understand.
      
