- content_for :title do
  %title Upcoming features

%h1 Upcoming Weekend General Features
%p 
  Here's a list of features that are planned for Weekend General. It's roughly
  in order of priority, with guesses at public release milestones thrown in. 
  Notice that I don't give dates. This is a side project and will improve as 
  time permits. If you have an idea that you don't see on this list, or you 
  think I should rearrange my priorities, feel free to contact me at 
  = mail_to('adam.durandal@gmail.com')+'.'

