- content_for :title do
  %title Upcoming features

%h1 Upcoming Weekend General Features
%p 
  Here's a list of features that are planned for Weekend General. It's roughly
  in order of priority, with guesses at public release milestones thrown in. 
  Notice that I don't give dates. This is a side project and will improve as 
  time permits. If you have an idea that you don't see on this list, or you 
  think I should rearrange my priorities, feel free to contact me at 
  = mail_to('adam.durandal@gmail.com')+'.'

%ol
  %h3 v0.1.0
  %li
    Notifications:
    %ol
      %li Event rsvp reminders.
      %li User tracking: tracked user RSVP
      %li Tracked event: user RSVP
      %li New event added
  %h3 v0.2.0
  %li Search and sort options
  %li Additional rank privileges, promotions
  %h3 v0.3.0
  %li Index page pagination
  %li 
    AJAX interface
    %ol
      %li Event links
      %li RSVPs, tracking
      %li Event, Venue, User editing
      %li Javascript validations
  %h3 v0.4.0
  %li New home page with upcoming and newly added events
  %li RSS feeds
  %h2 v1.0.0
  %li XML and JSON APIs
  %h3 v1.1.0
  %li Google maps for events and venues.
  %li Tags
  %h3 v1.2.0
  %h3 In the distant future
  %li Regularly recurring events
  %li Comments
  %li custom layouts/"skins"
  %li Others TBD
